<nav>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Notifications</a></li>
    <li><a href="/blogs/create_club">New Club</a></li>
    <li>
      <div class="topnav">
        <input type="text" placeholder="Search.." name="search">
      </div>
    </li>
    <li>
      <div class="topnav">
        <button type="submit">Submit</button>
      </div>
    </li>
  </ul>
</nav>