<nav class="second">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Notifications</a></li>
    <li><a href="/clubs/create">New Club</a></li>
    <!-- <li>
      <form action="/search" method="post">
        <div class="topnav">
          <input type="text" id="search" onkeyup="search_text()" placeholder="Search text" name="title">
        </div>
      </li>
      <li>
        <div class="topnav">
          <button type="submit">Submit</button>
        </div>
      </form>
      
    </li> -->
  </ul>
</nav>