<form class="index" action="/blogs/search?title=" method="GET"> 
    <div class="index-search">
      
      <input class="searchtext" id="searchbar" onkeyup="search_text()" type="text" name="title" placeholder="Search Notices.."> 
      <div class="button-index">
        <button type="submit">Submit</button>
      </div> 
    </div>
    
</form>