<form class="index" action="/blogs/search?title=" method="GET"> 
    <div class="index-search">
      
      <input class="searchtext" id="searchbar" onkeyup="search_text()" type="text" name="title" placeholder="Search Notices.."> 
      <div class="button-index">
        <button type="submit">Submit</button>
      </div> 
    </div>
    
</form>

<style>
  input.searchtext[type=text] { 
       width: 50%; 
       -webkit-transition: width 0.15s ease-in-out; 
       transition: width 0.15s ease-in-out; 
    } 
  
    /* When the input field gets focus, 
         change its width to 100% */
    input.searchtext[type=text]:focus { 
      width: 100%; 
    }
</style>