<!-- 404 page -->

<%- include('partials/header'); -%>


<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    OOPS, page not found :)
  </div>

</body>
<%- include('partials/footer'); -%>