<!-- this page is the first page of the site -->

<%- include('partials/header'); -%>
<%- include("./partials/nav.ejs") %>

<header>
  <div class="smoothie">
    <img src="/graphic.jpeg" alt="">
  </div>
  <div class="headings">
    <h2>Graphic Era University</h2>
    <h3>CSIT.Geu.IN</h3>
    <a href="/blogs" class="btn">View Notifications</a>
    <a href="/clubs" class="btn">View Clubs</a>
  </div>
</header>


<%- include('partials/footer'); -%>